{% extends 'layout.html' %}


{%  block content %}
    <div>
        {%for datas in data['records']%}
            <div class="cards">
                <span> La date de prise d'observation : {{   datas['fields']['date'] }}</span>
                 <p> L'heure de prise d'observation : {{   datas['fields']['heure'] }} </p>
                <p> La consommation brute d'électricité rte : {{  datas['fields']['consommation_brute_electricite_rte']}} </p>
                <p> La région: {{  datas['fields']['region'] }} </p>
                <p>  Le code INSEE de la région : {{   datas['fields']['code_insee_region']}} </p>
                <p> La consommation brute d'électricité : {{  datas['fields']['consommation_brute_totale']}} </p>
                <p> La consommation brute de gaz totale : {{  datas['fields']['consommation_brute_gaz_totale']}} </p>
            </div>
        {% endfor %} 
    </div>
{%  endblock content %}

  