@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #c7c7c7;
    font-family: Lato;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 70%;
}

h1 {
    width: 70%;
    margin: auto;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}