@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #c7c7c7;
    font-family: Lato;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 70%;
    margin:auto
}

.header h1 {
    width: 100%;
    margin: auto;
    text-align: center;
}

.header p  {
    width: 100%;
    margin: 100px;
    
}

.header img  {
    width: 100%;
    margin-left: 100px;
    margin-bottom: 30px;
}


.content {
    width: 100%; 
    margin-right: auto;
    margin-left:100px;
    border: 1px solid black;
    padding: 10px;
    
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
}

.container {
    margin : 50px;
    border: 1px solid black;
    padding: 20px;

}
